[tasks."exec:laravel"]
description = "laravelコンテナのdocker execのalias"
run = """
docker compose exec laravel bash -ic 
"""

[tasks."exec:vue"]
description = "vueコンテナのdocker execのalias"
run = """
docker compose exec vue bash -ic 
"""

[tools]
lefthook = "latest"
# コンテナ名じゃなくてサービス名じゃないといけない

