[tasks."exec:laravel"]
description = "laravelコンテナのdocker execのalias"
run = """
docker compose exec laravel bash -ic 
"""

[tasks."exec:vue"]
description = "vueコンテナのdocker execのalias"
run = """
docker compose exec vue bash -ic 
"""

[tasks."generate:ziggy"]
description = "laravelのルーティング情報をvueに出力"
run = """
# laravelコンテナ内部でziggyファイルを生成
mise exec:laravel "php artisan ziggy:generate --types"

# ziggyファイルをvueコンテナ内部に移動
mv -f ./backend/resources/js/ziggy.js ./frontend/src/shared/api
mv -f ./backend/resources/js/ziggy.d.ts ./frontend/src/shared/types
"""

[tasks."generate:openapi"]
description = "laravelのリクエスト、レスポンス情報をvueに出力"
run = """
# laravelコンテナ内部でファイルを生成
mise exec:laravel "php artisan scramble:export"

# vueコンテナへ移動
mv -f ./backend/api.json ./frontend/src/shared/types

# openapi-typescript実行
mise exec:vue "pnpm run generate-schema"

# schema.d.tsが生成されれば、api.jsonはいらないので消す
rm ./frontend/src/shared/types/api.json

"""

[tasks."reset-database"]
description = "データベースをリセット"
run = """
docker compose exec laravel bash -ic "php artisan migrate:fresh; php artisan db:seed"
"""

[tools]
lefthook = "latest"
# コンテナ名じゃなくてサービス名じゃないといけない

