includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon
parameters:
# とりあえず最初は9で必要に応じて下げる
# とはいえignore優先
    level: 9
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    excludePaths:
    # これはライブラリから自動生成されるファイルなので下手にいじりたくない。なので対象外
        - _ide_helper.php
        - _ide_helper_models.php
