@import './base.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

:root {
  color-scheme: light dark;
  --c-theme-color: light-dark(#64fcb3, #2edb9c);
  --main-padding-vertical: 2rem;
  --main-padding-horizontal: 1rem;
}

html {
  overflow-y: auto;
}
body {
  background-color: light-dark(#eeeeee, #000000);
}

main {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--main-padding-vertical) var(--main-padding-horizontal);
  font-weight: normal;
}

.theme-color-bg {
  background-color: var(--c-theme-color);
}

.a-blue {
  color: light-dark(var(--color-blue-500), var(--color-sky-600));
  text-decoration-line: underline;
  text-decoration-color: light-dark(var(--color-blue-500), var(--color-sky-600));
}

.a-black {
  color: light-dark(#000000, #eeeeee);
  text-decoration-line: underline;
  text-decoration-color: light-dark(#000000, #eeeeee);
}
