@import 'tailwindcss';
@import 'tailwindcss-primeui';

/* ここでオリジナルの定義をする場合にはlayer base の中に入れないと違いに上書きしてしまって効かなくなる */
@layer base {
  :root {
    color-scheme: light dark;
    --c-theme-color: light-dark(#64fcb3, #29c28a);
    --main-padding-vertical: 2rem;
    --main-padding-horizontal: 1rem;
    --usual-color: light-dark(#000000, #eeeeee);
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }

  body {
    line-height: 1.6;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: light-dark(#eeeeee, #111111);
  }

  html {
    overflow-y: auto;
  }

  /* tailwindcssを導入したらh系タグの大きさがリセットされたので再定義 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.67em;
  }

  main {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: var(--main-padding-vertical) var(--main-padding-horizontal);
    font-weight: normal;
  }
}

/* カスタムユーティリティクラスは @layer base ではなく @utility を使用しないといけないらしい。
   tailwind cssの補助とかも付くらしい。
   @utility はトップレベルにしか書けないため @layer base の外に置く。
*/
@utility theme-color-bg {
  background-color: var(--c-theme-color);
}

@utility a-blue {
  color: light-dark(var(--color-blue-500), var(--color-sky-600));
  text-decoration-line: underline;
  text-decoration-color: light-dark(var(--color-blue-500), var(--color-sky-600));
}

@utility a-black {
  color: var(--usual-color);
  text-decoration-line: underline;
  text-decoration-color: var(--usual-color);
}
