@import './base.css';

:root {
  color-scheme: light dark;
  --c-theme-color: light-dark(#64fcb3, #2edb9c);
  --main-padding-vertical: 2rem;
  --main-padding-horizontal: 1rem;
}

html {
  overflow-y: auto;
}
body {
  background-color: light-dark(#eeeeee, #000000);
}

main {
  min-height: 100dvh;
  margin: 0 auto;
  padding: var(--main-padding-vertical) var(--main-padding-horizontal);
  font-weight: normal;
}

.theme-color-bg {
  background-color: var(--c-theme-color);
}
